<nav class="col-12 col-md-3 col-lg-2 bg-light vh-100 sidebar py-4 d-print-none">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link active" data-target="#dashboard" href="#dashboard"> <i class="bi bi-speedometer2 me-1"></i> Tổng quan</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#requests" href="#requests"> <i class="bi bi-person-check me-1"></i> Yêu cầu tác giả</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#users" href="#users"> <i class="bi bi-people me-1"></i> Người dùng</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#stories" href="#stories"> <i class="bi bi-book me-1"></i> Truyện</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#chapters" href="#chapters"> <i class="bi bi-journal-text me-1"></i> Chương</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#reports" href="#reports"> <i class="bi bi-flag me-1"></i> Báo cáo</a></li>
  </ul>
</nav>