<section id="author-dashboard" class="mb-4">
  <div class="row g-3">
    <div class="col-12 col-md-4">
      <div class="card p-3">
        <h6 class="mb-1">Truyện đã tạo</h6>
        <div id="stat-author-stories" class="fs-4">&mdash;</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card p-3">
        <h6 class="mb-1">Tổng lượt xem</h6>
        <div id="stat-author-views" class="fs-4">&mdash;</div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card p-3">
        <h6 class="mb-1">Doanh thu</h6>
        <div id="stat-author-revenue" class="fs-4">&mdash;</div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="card p-3 shadow-sm">
        <h5 class="mb-3">Thống kê</h5>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <h6 class="mb-2">Doanh thu (Coins theo ngày)</h6>
            <canvas id="chartRevenue" height="80"></canvas>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <h6 class="mb-2">Tổng lượt xem (theo ngày)</h6>
            <canvas id="chartViews" height="80"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
