<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tรกc giแบฃ</a>
    <div class="d-flex ms-auto align-items-center">
      <button id="author-theme-toggle" class="btn btn-sm btn-outline-secondary me-2">๐</button>

      <div class="dropdown me-2">
        <button id="author-avatar-btn" class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span id="author-avatar-mini" class="rounded-circle bg-secondary text-white d-inline-flex align-items-center justify-content-center" style="width:26px;height:26px;font-size:12px;">U</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" id="author-avatar-menu">
          <li><a class="dropdown-item" href="#" id="author-logout">ฤฤng xuแบฅt</a></li>
          <li><a class="dropdown-item" href="#" id="author-exit-mode">Trแป vแป</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
