<nav class="col-12 col-md-3 col-lg-2 bg-light vh-100 sidebar py-4 d-print-none">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link active" data-target="#author-dashboard" href="#author-dashboard"> <i class="bi bi-speedometer2 me-1"></i> Tổng quan</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#author-stories" href="#author-stories"> <i class="bi bi-person-check me-1"></i> Truyện</a></li>
    <li class="nav-item"><a class="nav-link" data-target="#author-comments" href="#author-comments"> <i class="bi bi-people me-1"></i> Bình luận</a></li>
  </ul>
</nav>